.email-app {
    padding: 10px 8px;
    background-color: rgba(0, 0, 0, 0.1);
}

.email-app .email-filter-compose {
    display: flex;
    justify-content: space-between;
}

.email-app .email-filter-compose button {
    border: none;
    font-weight: bold;
    padding: 15px;
    transition: all 0.2s;
    border-radius: 5px;
    background-color: #eeeeee;
}
.email-app .email-filter-compose button:hover {
    background-color: rgb(189, 189, 189);
}

.email-app .main-content {
    display: flex;
}
