.email-preview {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgb(189, 189, 189);
    background-color: rgb(213, 219, 175);
    transition: all 0.2s;
}

.email-preview-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}
.email-preview-text * {
    flex-grow: 1;
    width: 0px;
    font-weight: normal;
}
.email-preview:hover {
    background-color: rgb(144, 144, 144);
    font-size: 1.1em;
}
.email-preview > *:first-child {
    padding-left: 5px;
}

.email-preview button {
    border: none;
    margin-left: 5px;
    padding: 10px 5px;
    font-weight: bold;
    color: rgb(46, 46, 46);
    transition: all 0.3s ease;
}
.email-preview button:hover {
    background-color: rgb(189, 189, 189);
}

.email-preview .email-preview-text h2 {
    font-size: 1.1rem;
}
