.app-header {
    margin: 0;
    background-color: rgb(112, 204, 150);
    box-shadow: 0px 4px 10px 0px rgba(50, 50, 50, 0.4);
    display: flex;  
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo {
    margin-left: 10px;
    font-style: italic;
}

/* .logo img{
    width: 2rem;
    height: 1.6rem;
} */

.app-header-nav {
    display: flex;
}

.app-header-nav li {
    list-style-type: none;
    font-style: italic;
}

.app-header a {
    padding: 20px;
}

.app-header a:hover {
    /* background-color: lightgray; */
    font-weight: bold;
    /* color: lemonchiffon; */
}
