.note-preview {
    /* background-color: rgb(226, 233, 162); */
    border-radius: 5px;
    box-shadow: 0px 4px 10px 0px rgba(50, 50, 50, 0.4);
    width: fit-content;
    padding: 1px 20px;
}

.note-area {
    position: relative;
    margin: 10px;
}

.remove-btn {
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid lightgray;
    font-family: monospace;
}

.remove-btn:focus {
    outline: none;
}

.remove-btn:hover {
    background-color: rgb(255, 196, 119);
}

.note-img {
    text-align: center;
}

.note-img img {
    width: 200px;
    height: 200px;
    margin-top: 25px;
    border-radius: 5px;
}

.note-vid{
    text-align: center;
}

.note-vid iframe {
    margin-top: 25px;
    border-radius: 5px;
    border: none;
}

.note-todos li{
    list-style-type:disc;
    margin-bottom: 10px;
}
