
.note-filter {
    margin-top:20px;
    text-align: right;
}

.filter-bar{
    margin-right: 15px;
    border-radius: 5px;
    padding:10px;
    border: 1px solid lightgrey;
    
}

.filter-bar:focus{
    outline-color: rgb(127, 195, 127);
    outline-width: 0.01rem;
}


