
.notes-form {
    /* z-index: 1;
    position: fixed; */
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.notes-form input {
    border: 1px solid lightgray;
    padding: 5px;
    width: 80%;
    background-color: rgb(245, 244, 243);
    border-radius: 1px;
    text-align: start;
    direction: initial;
    font-size: 15px;
}

.notes-form textarea {
    border: 1px solid lightgrey;
    border-top: none;
    padding: 5px;
    flex-grow: 1;
    width: 80%;
    height: 70px;
    background-color: rgb(245, 244, 243);
    border-radius: 1px;
    text-align: start;
    direction: initial;
    font-size: 15px;
}

.notes-form input:focus {
    outline-color: linen;
    outline-width: 0px;
}

.notes-form textarea:focus {
    outline-color: linen;
    outline-width: 0px;
}

.notes-inputs {
    display: flex;
}

.input-btn {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-top:1px;
    padding: 3px;
    background-color: rgb(207, 205, 205);
    border-radius:2px;
    border: none;
}

.btn-on {
    background-color:rgb(136, 202, 136);
}

.btn-off {
    background-color: lightgrey;
}

.color-menu {
    display: flex;
    justify-content: space-between;
}

.color-menu button {
    border-radius: 9px;
    width: 18px;
    height: 18px;
    margin-left:5px;
    margin-right: 5px;
    border: 1px solid rgb(241, 233, 233);
}

.color-menu button:hover {
    transform: scale(1.2);
    transition: ease .2s;
}

.color-menu button:focus{
    outline:none;
}

.type-menu button {
 border-radius: 5px;
 width: 50px;
 border: 2px solid rgb(236, 229, 229);
}

.type-menu button:hover {
    transform: scale(1.02);
}

.type-menu button:focus{
   outline-color:  rgb(129, 195, 129);
}

.clear-btn {
    margin-right: 2px;
    border-radius: 5px;
    border: 2px solid rgb(236, 229, 229);
}
.clear-btn:hover {
  background-color: rgb(233, 217, 146);
}

.submit-btn {
    border-radius: 5px;
    font-weight: bold;
    border: 2px solid rgb(236, 229, 229);
}
.submit-btn:hover {
    background-color: rgb(240, 221, 151);
}

.pinned {
background-color: rgb(250, 242, 176);
}

.pinning-btn{
    margin-right: 2px;
    border-radius: 5px;
    border: 2px solid rgb(236, 229, 229);
}


.pinning-btn:hover{
    transform: scale(1.02);
}

.control-menu button:focus{
    outline:none;
}