.note-list {
    /* display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; */
    /* -moz-column-count: 4; */
    column-count: 4;
    -webkit-column-count: 4;
    /* column-fill: auto; */
    

    /* -moz-column-gap: 35px; */
    column-gap: 45px;
    -webkit-column-gap: 45px;

    margin: 20px 20px 20px 10px;
}
