.note-preview {
    border-radius: 5px;
    /* box-shadow: 0px 4px 10px 0px rgba(50, 50, 50, 0.4); */
    /* width: fit-content; */
    padding: 35px 30px 20px 30px;
    display: inline-block;
    overflow-wrap: break-word;
    width: 100%;
    margin: 5px auto 25px auto;
    position: relative;
    /* text-align: start; */
    direction: initial;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.note-preview:hover {
    /* box-shadow: 0px 4px 10px 0px rgb(255, 255, 255, 0.8); */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25), 0 3px 4px rgba(0, 0, 0, 0.22);
}

.note-preview h4 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.note-text {
    overflow-wrap: break-word;
}

.note-text pre {
    white-space: pre-wrap;
}

.remove-btn {
    background: url(../../../../assets/img/delete.png) no-repeat;
    background-size: cover;
    width: 18px;
    height: 18px;
    /* border-radius: 50%; */
    /* -webkit-border-radius: 50%; */
    position: absolute;
    right: 5px;
    top: 8px;
    border: none;
    opacity: 0.65;
    padding: 5px;
    overflow: visible;
    /* margin: 5px; */
    /* border: 1px solid lightgray; */
    /* font-family: monospace; */
}

.remove-btn:focus {
    outline: none;
}

.remove-btn:hover {
    background-color: inherit;
    opacity: 1;
}

.note-img {
    text-align: center;
    padding-top: 10px;
}

.note-img img {
    width: 100%;
    /* height: 100%; */
    border-radius: 2px;
}

.note-vid {
    text-align: center;
    padding-top: 10px;
}

.note-vid iframe {
    border-radius: 2px;
    border: none;
    width: 85%;
    /* min-height: fit-content; */
}

.note-todos ul {
    list-style-position: outside;
    padding: 0px;
    margin: 0 24px;
}

.note-todos li {
    margin-bottom: 10px;
}

/* .note-pinned {
    order: -1;
} */

.pin-btn {
    position: absolute;
    right: 55px;
    top: 8px;
    background: url(../../../../assets/img/push-pin_off.png) no-repeat;
    background-size: cover;
    width: 18px;
    height: 18px;
    padding: 5px;
    overflow: visible;
    /* border-radius: 50%;
    -webkit-border-radius: 50%;
    font-weight: bolder;
    background-color: gainsboro; */
    border: none;
    opacity: 0.65;

    /* border: 1px solid lightgray;
    margin: 5px;
    text-overflow: clip; */
}

.pin-btn:focus {
    outline: none;
}

.pin-btn:hover {
    background-color: inherit;
    opacity: 1;
}

.pinned-btn {
    position: absolute;
    left: 5px;
    top: 8px;
    width: 18px;
    height: 18px;
    background: url(../../../../assets/img/push-pin_on.png) no-repeat;
    background-size: cover;
    border: none;
    opacity: 1;
    padding: 5px;
    overflow: visible;
    /* background-color: rgb(245, 243, 146); */
}

.pinned-btn:hover {
    background-color: inherit;
    opacity: 0.65;
}

.pinned-btn:focus {
    outline: none;
}

.color-pallete-btn {
    position: absolute;
    right: 30px;
    top: 8px;
    background: url(../../../../assets/img/pallete.png) no-repeat;
    background-size: cover;
    width: 18px;
    height: 18px;
    padding: 5px;
    overflow: visible;
    /* border-radius: 50%;
    -webkit-border-radius: 50%;
    font-weight: bolder;
    background-color: gainsboro; */
    border: none;
    opacity: 0.65;
}

.color-pallete-btn:hover {
    background-color: inherit;
    opacity: 1;
}

.color-pallete-btn:focus {
    outline: none;
}

/* .todo-done {
    text-decoration: line-through;
} */

/* .check-todos:focus {
    outline: none;
} */
